body{
  display: flex;
  background: #0a0a0a;
  color: #F1E7C3;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

canvas {
  image-rendering:optimizeSpeed;             /* Legal fallback */
  image-rendering:-moz-crisp-edges;          /* Firefox        */
  image-rendering:-o-crisp-edges;            /* Opera          */
  image-rendering:-webkit-optimize-contrast; /* Safari         */
  image-rendering:optimize-contrast;         /* CSS3 Proposed  */
  image-rendering:crisp-edges;               /* CSS4 Proposed  */
  image-rendering:pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}

.hidden{
  display: none !important;
}

.center_container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
}

.hint{
  font-size: 1.5em;
  top: 25%;
  pointer-events: none;
}

#loading_overlay{
  background-color: rgb(0,0,0);
}

#ui{
  margin-top: 12px;
}
#game_area{
  max-width: 80vw;
  max-height: 80vh;
  border: 1px solid #444;
}

#hud{
  display: flex;
  width: 80vw;
  margin-bottom: 12px;
  justify-content: space-between;
}

#resources{
  text-align: left;
}

#status{
  text-align: right;
}

.fadeout {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
