body{
  display: flex;
  background: #0a0a0a;
  color: #F1E7C3;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#game_area{
  max-width: 80vw;
  max-height: 80vh;
  border: 1px solid #444;
}
