body{
  display: flex;
  background: #0a0a0a;
  color: #F1E7C3;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
}

.pixelated{
  image-rendering:optimizeSpeed;             /* Legal fallback */
  image-rendering:-moz-crisp-edges;          /* Firefox        */
  image-rendering:-o-crisp-edges;            /* Opera          */
  image-rendering:-webkit-optimize-contrast; /* Safari         */
  image-rendering:optimize-contrast;         /* CSS3 Proposed  */
  image-rendering:crisp-edges;               /* CSS4 Proposed  */
  image-rendering:pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}

img.portrait{
  outline: 1px solid #F1E7C3;
  width: 32px;
  height: 32px;
  padding: 0;
  top: 10px;
  left: 1px;
  position: relative;
  margin-right: 4px;
}

.hidden{
  display: none !important;
}

.center_container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
}

.hint{
  font-size: 1.5em;
  top: 25%;
  pointer-events: none;
}

#loading_overlay{
  background-color: rgb(0,0,0);
}

#ui{
  margin-top: 12px;
}

.tab{
  width: 80vw;
  height: 80vh;
  border: 1px solid #444;
  box-sizing: border-box;
}

.menu{
  padding: 16px;
  background: #080E07;
}

#hud{
  display: flex;
  width: 80vw;
  margin-bottom: 12px;
  justify-content: space-between;
}

#resources{
  text-align: left;
}

#status{
  text-align: right;
}

#navigation{
  display: flex;
  align-items: left;
  justify-content: left;
  width: 80vw;
}

#navigation div{
  padding: 8px;
  margin-right: 8px;
  background: #99ab9a;
  border: 1px solid #444;
  border-top: 0;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  color: #000;
}

#navigation div:hover{
  cursor: pointer;
  background: #e8f5e8;
}

#navigation div.selected{
  background: #c8ff9c;
}

#resource_conversion{
  cursor: pointer;
  margin-top: 1em;
}

#resource_conversion button:hover{
  cursor: pointer;
  background: #e8f5e8;
}

.btn_standard{
  font-size: 16px;
  padding: 8px;
  margin: 4px;
  background: #99ab9a;
}
.btn_standard:hover{
  background: #e8f5e8;
}
.btn_standard:active{
  background: #c8ff9c;
}

input{
  padding:8px;
  width: 100px;
}
select{
  height: 32px;
}

#num_convert_b{
  background-color: #aaa;
}

.fadeout {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
